<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
</head>

<body>

<h1>Cadastrar novo produto</h1>

<form th:action="@{/itens}" method="post">

    <div>
        <label for="nome">Nome:</label>
        <input
                type="text"
                id="nome"
                name="nome">
    </div>

    <div>
        <label for="tipo">Tipo:</label>
        <input
                type="text"
                id="tipo"
                name="tipo">
    </div>

    <div>
        <label for="setor">Setor:</label>
        <input
                type="text"
                id="setor"
                name="setor">
    </div>

    <div>
        <label for="tamanho">Tamanho:</label>
        <input
                type="text"
                id="tamanho"
                name="tamanho">
    </div>

    <div>
        <label for="preco">Preço:</label>
        <input
                type="number"
                step="0.01"
                id="preco"
                name="preco">
    </div>

    <button type="submit">
        Cadastrar
    </button>

</form>

<br>

<a th:href="@{/itens}">
    Voltar para a lista
</a>

</body>

</html>